@model IQueryable<Pedido>
@{
    ViewBag.Subtitulo = "Listagem de Pedidos";
}

<h1 class="text-primary">Listagem de pedidos por Fornecedor</h1>
<hr>
<a href="/Pedidos/Cadastrar" class="btn btn-primary">Novo Pedido</a>
<hr>
<table class="table">

    <tbody>
        @{
            bool cabecalhoFornecedorExibido;
        }
        @foreach (var f in ViewBag.Fornecedores)
        {
            cabecalhoFornecedorExibido = true;
            @foreach (var p in Model)
            {
                @if (p.FornecedorId == Convert.ToInt32(f.Value))
                {

                    if (cabecalhoFornecedorExibido)
                    {
                        <thead>
                            <tr bgcolor="gray">
                                <th>Fornecedor</th>
                                <th><b>@f.Text</b></th>
                            </tr>
                            <tr>
                                <th>Pedido</th>
                                <th>Data do Cadastro</th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>
                        cabecalhoFornecedorExibido = false;
                    }

                    <tr>
                        <td><b>@p.PedidoId</b></td>
                        <td>@p.DataCadastro</td>
                        <td>@p.Valor</td>
                        <td>
                            <a asp-action="Alterar" asp-route-id="@p.PedidoId" class="btn btn-sm btn-secondary">Alterar</a>
                            <a asp-action="Excluir" asp-route-id="@p.PedidoId" class="btn btn-sm btn-danger">Excluir</a>
                        </td>

                    </tr>
                }
            }
        }
    </tbody>
</table>