@model IQueryable<Fornecedor>
@{
    ViewBag.Subtitulo = "Fornecedores";
}

<h1 class="text-primary">Fornecedores</h1>
<hr>
<a href="/Fornecedores/Cadastrar" class="btn btn-primary">Novo Fornecedor</a>
<table class="table">
    <thead>
        <tr>
            <th>Razão Social</th>
            <th>CNPJ</th>
            <th>UF</th>
            <th>E-mail</th>
            <th>Nome do Contato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.RazaoSocial</td>
                <td>@f.CNPJ</td>
                <td>@f.UF</td>
                <td>@f.EmailContato</td>
                <td>@f.NomeContato</td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@f.IdFornecedor" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@f.IdFornecedor" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
