@model IQueryable<Produto>
@{
    ViewBag.Subtitulo = "Produtos";
}

<h1 class="text-primary">Produtos</h1>
<hr>
<a href="/Produtos/Cadastrar" class="btn btn-primary">Novo Produto</a>
<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Data do Cadastro</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Descricao</td>
                <td>@p.DataCadastro</td>
                <td>@p.Valor</td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@p.IdProduto" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@p.IdProduto" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
